vti_encoding:SR|utf8-nl
vti_author:SR|Carisch-PC\\Carisch
vti_modifiedby:SR|Carisch-PC\\Carisch
vti_timelastmodified:TR|01 Jun 2015 20:28:24 -0000
vti_timecreated:TR|01 Jun 2015 20:25:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|01 Jun 2015 20:26:02 -0000
vti_cacheddtm:TX|01 Jun 2015 20:28:24 -0000
vti_filesize:IR|22
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
