body{
	background-image:url('../Images/Brooklyn-Bridge-Wallpaper-night-lights-the-river-desktop1.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	z-index:-1;
}

nav{
	height:100px;
	width:100%;
}

#nav_ul li{
	list-style:none;
	font-size:35px;
	padding-right:20px;
	position:relative;
}

#nav_ul a{
	color:white;
	font-family: 'Playfair Display', serif;
	text-shadow: -2px 2px 3px white;
}

#nav_ul a:hover{
	color:black;
}

#header{
	text-align:center;
	color:silver;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font: 'BazarMedium';
	letter-spacing: 10px;
	position:relative;
	top:40px;
}

h6{
	font-size:large;
}

#view{
	font-size:xx-large;
	color: black;
	height:650px;
	position:absolute;
	top:205px;
	left:190px;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

#footer{
	position:absolute;
	bottom:0;
	text-align:center;
	color:white;
	width: 100%;
	font-size:x-large;
}

#footer_ul li{
	list-style:none;
	display:inline;
	padding-right: 50px;
}

.slide-pop {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-pop.ng-enter,
.slide-pop.ng-leave {
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}
.slide-pop.ng-enter {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}
.slide-pop.ng-enter-active {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.slide-pop.ng-leave {
	left: 0;
	opacity: .5;
}
.slide-pop.ng-leave-active {
	left: -100%;
	opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
	opacity: .5;
	left: -100%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.reverse .page.slide-pop.ng-enter-active {
	opacity: 1;
	left: 0;
}
.reverse .page.slide-pop.ng-leave {
	opacity: .5;
	-webkit-transform: scale(1);
	transform: scale(1);
	left: 0;
	right: 0;
}
.reverse .page.slide-pop.ng-leave-active {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}

